<%= render partial: "pool_configurations/index", object: @appliance %>
<!-- <p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_pool_configuration_path(@pool_configuration) %> |
<%= link_to 'Back', pool_configurations_path %> -->
